+*{margin:0px auto;}

 .control{margin-top:10px;margin-left:10px;}
 input[type='text']{height:30px;}
 input[type='number']{height:30px;}
 input[type='password']{height:30px;}
 .width100{width:100px;}
 .width300{width:300px;}
 .operation{width:60%;margin-top:60px;}
 .operation input[type='button']{margin-top:20px;height:30px;width:100px;background-color:#0080ff;float:left;}
 .control label{width:100px;}