<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zlh.cms.dao.ColumnDao" > 

	<sql id="allField">
		id,column_name,order_flag,parent_id,create_date,site_id,is_show,is_menu
    </sql>
    <sql id="allProperties">
     <trim  suffixOverrides="," >
    				#{id},
					#{columnName},
					#{orderFlag},
					#{parentId},
					#{createDate},
					#{siteId},#{isShow},#{isMenu}
		     </trim>
    </sql>
    
    <sql id="tableName">
      t_cms_column
    </sql>
	<select id="getColumn" resultType="com.zlh.cms.dto.ColumnDTO">
		select * from <include refid="tableName"></include>  where id = #{id} 
	</select>
	
	<select id="getColumnList" resultType="com.zlh.cms.dto.ColumnDTO">
		select * from <include refid="tableName"></include> where site_id=#{siteId} order by order_flag desc
	</select>
	
	<delete id="delColumn">
	    delete from <include refid="tableName"></include> where id = #{id}
	</delete>
	
	<insert id="saveColumn"  useGeneratedKeys="true" keyProperty="id">
	  <selectKey keyProperty="id" resultType="int" order="AFTER"> 
		SELECT @@IDENTITY AS id 
	  </selectKey> 
		insert into <include refid="tableName"></include>
		(<include refid="allField"></include>)
		 values
		(<include refid="allProperties"></include>)
	</insert>
	<update id="updateColumn">
	   update <include refid="tableName"></include> set 
	<trim  suffixOverrides="," >
	<if test="columnName != null  ">
		column_name=#{columnName},
	</if>
	<if test="orderFlag != null  ">
		order_flag=#{orderFlag},
	</if>
	<if test="parentId != null  ">
		parent_id=#{parentId},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="siteId != null  ">
		site_id=#{siteId},
	</if>
	<if test="isShow != null  ">
		is_show=#{isShow},
	</if>
	<if test="isMenu != null  ">
		is_menu=#{isMenu},
	</if>
	</trim> where id=#{id}
	</update>
  	
</mapper>   
