<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zlh.cms.dao.SiteMarkDao" > 

	<sql id="allField">
		site_id,mark_type,mark_position,mark_word,mark_picture
    </sql>
    <sql id="allProperties">
     <trim  suffixOverrides="," >
    				#{siteId},
					#{markType},
					#{markPosition},
					#{markWord},
					#{markPicture},
		     </trim>
    </sql>
    
    <sql id="tableName">
      t_cms_sitemark
    </sql>
	<select id="getSiteMark" resultType="com.zlh.cms.dto.SiteMarkDTO">
		select * from <include refid="tableName"></include>  where id = #id 
	</select>
	
	<select id="getSiteMarkList" resultType="com.zlh.cms.dto.SiteMarkDTO">
		select * from <include refid="tableName"></include> 
	</select>
	
	<delete id="delSiteMark">
	    delete from <include refid="tableName"></include> where id = #id
	</delete>
	
	<insert id="createSiteMark"  useGeneratedKeys="true" keyProperty="id">
	  <selectKey keyProperty="id" resultType="int" order="AFTER"> 
		SELECT @@IDENTITY AS id 
	  </selectKey> 
		insert into <include refid="tableName"></include>
		(<include refid="allField"></include>)
		 values
		(<include refid="allProperties"></include>)
	</insert>
	<update id="updateSiteMark">
	   update <include refid="tableName"></include> set 
	<trim  suffixOverrides="," >
	<if test="markType != null  ">
		mark_type=#{markType},
	</if>
	<if test="markPosition != null  ">
		mark_position=#{markPosition},
	</if>
	<if test="markWord != null  ">
		mark_word=#{markWord},
	</if>
	<if test="markPicture != null  ">
		mark_picture=#{markPicture},
	</if>
	</trim> where site_id=#{siteId}
	</update>
  	
</mapper>   
